policy_module(elspero, 1.100.1)

########################################
#
# Declarations
#

type elspero_t;
type elspero_exec_t;
init_daemon_domain(elspero_t, elspero_exec_t)

permissive elspero_t;

type elspero_initrc_exec_t;
init_script_file(elspero_initrc_exec_t)

type elspero_conf_t;
files_type(elspero_conf_t)

type elspero_var_lib_t;
files_type(elspero_var_lib_t)

type elspero_var_run_t;
files_type(elspero_var_run_t)

type elspero_port_t;
corenet_port(elspero_port_t)

########################################
#
# elspero local policy
#
allow elspero_t self:process { fork };

allow elspero_t self:fifo_file rw_fifo_file_perms;
allow elspero_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(elspero_t, elspero_conf_t, elspero_conf_t)
manage_files_pattern(elspero_t, elspero_conf_t, elspero_conf_t)

manage_dirs_pattern(elspero_t, elspero_var_lib_t, elspero_var_lib_t)
manage_files_pattern(elspero_t, elspero_var_lib_t, elspero_var_lib_t)
files_var_lib_filetrans(elspero_t, elspero_var_lib_t, { dir file })

manage_dirs_pattern(elspero_t, elspero_var_run_t, elspero_var_run_t)
manage_files_pattern(elspero_t, elspero_var_run_t, elspero_var_run_t)

sysnet_dns_name_resolve(elspero_t)
corenet_all_recvfrom_unlabeled(elspero_t)

allow elspero_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(elspero_t)
corenet_tcp_sendrecv_generic_node(elspero_t)
corenet_tcp_sendrecv_all_ports(elspero_t)
corenet_tcp_bind_generic_node(elspero_t)

gen_require(`
    type elspero_port_t;
')
allow elspero_t elspero_port_t:tcp_socket name_bind;

gen_require(`
    type elspero_port_t;
')
allow elspero_t elspero_port_t:tcp_socket name_connect;

domain_use_interactive_fds(elspero_t)

files_read_etc_files(elspero_t)

miscfiles_read_localization(elspero_t)

sysnet_dns_name_resolve(elspero_t)

allow elspero_t elspero_exec_t:file execute_no_trans;
allow elspero_t self:process setsched;
corecmd_exec_ls(elspero_t)
corenet_tcp_connect_http_port(elspero_t)
dev_read_urand(elspero_t)
fs_getattr_xattr_fs(elspero_t)
kernel_read_system_state(elspero_t)
